/*Header compenent*/
.Header {
  height: 738px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2.5rem;
  background: #f4f4f4;
  padding-top: 150px;
}
.headerAbout {
  width: 666px;
  height: 256px;
  left: 175px;
  top: 208px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 620;
  font-size: 42px;
  line-height: 64px;

  letter-spacing: 0.01em;

  color: #0a0a14;
}
.headerSecondDiv {
  display: flex;
  flex-direction: column;
}
.headerH3 {
  margin-top: 2.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.headerMetin {
  margin-right: 650px;
  font: Inter;

  margin-bottom: 300px;
}

.headerİMG {
  width: 341px;
  height: 341px;
  left: 928px;
  top: 207px;
  box-shadow: 6px 6px 6px 6px #d1084b;

  border-radius: 22px;
}

.App {
  margin-top: 25px;
}

.Project1 {
  height: 668px;
  width: 500px;
  border-radius: 12px;
  padding-bottom: 492px;
  padding-top: 46px;
  padding-right: 92px;
  padding-left: 40px;
  margin-left: 193px;
}
.topic {
  padding: 6px 20px 10px;
  margin: 5px;

  font-size: 16px;
  height: 32px;
  font-family: "Playfair Display";
  background: #ffffff;
  border-radius: 76px;
  font-weight: 700;
}

.ProjectImg {
  background-image: url("https://s3-alpha-sig.figma.com/img/600f/f411/f246155782db0594c00c688cdbf27f80?Expires=1679875200&Signature=cy-YjlWcwMB0T99Ofmmm-pAvWan46p-1GWVfNzImp9TpB7z3fSkJp-reRmGjo3f8zsBjHGj2LnhKxHUHzujo8YbIUyxVt9nMfoCyTs18QzoH9yukzn2IuzbzvMksoZR6ikYOxzlMJNMHEQHLtTwdo4INoWWv-rf3D1AYPBQ~fS~kVT23OAkTHt1E1CXFHdc6QjQnmUnPfGbPvSk7qJT0fAitY3sjdPdYINdPqYtk2PPKBMugLlxUQtOh3H5-Xd35-rixyz23cdXzSn5v~eQwDYzuQAzA1kQz4zR2K9UhljywNlSAqKpSUV2Q9Z5QJDiBt27cF-oMejLBxR4lgdL9Yw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;

  height: 300px;
  background-position: center;
  background-size: 500px;
}

.ProjectImg2 {
  margin-top: 22px;
  width: 350px;
  height: 220px;
}

.shadow1 {
  display: flex;
  border-radius: 1rem;
  background-color: #fff;
  margin: 6rem;
  box-shadow: 6px 6px 6px 6px #d1084b;
}

/*Header compenent*/
@tailwind base;
@tailwind components;
@tailwind utilities;
